langchain==0.3.19
langchain-groq==0.2.5
langchain-google-genai==2.0.11
langchain_mistralai==0.2.7
langchain-community==0.3.18
langchain-chroma==0.2.2
langgraph==0.3.6
pypdf==5.3.1
chromadb==0.6.3
langchain-huggingface==0.1.2
huggingface-hub==0.29.2
sentence-transformers==3.4.1
pytest-playwright==0.7.0
asyncio==3.4.3

# UI REQUIREMENTS
plotly>=6.0.0
streamlit==1.43.0
pandas==2.2.3

# API REQUIREMENTS
fastapi[standard]
python-jose[cryptography]
uvicorn[standard]
passlib[bcrypt]
slowapi
requests>=2.31.0
