@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
  
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom font for Panton Bold if you have the font files */
@font-face {
font-family: 'Panton Bold';
src: url('../public/fonts/Panton-Bold.ttf') format('truetype');
    /* url('/fonts/Panton-Bold.woff') format('woff'); */
font-weight: bold;
font-style: normal;
font-display: swap;
}

body {
margin: 0;
font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background-color: #F9F9F9;
color: #111613;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Panton Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}